---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About";
const description = "A blog about ml/ai/philosophy/health/tech";
const permalink = `${Astro.site.href}about`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="about"
>
  <div class="container">
    <h1>About</h1>
    <p>
      <p>
        I'm a philosopher/tech/happy guy at heart. I love data-driven innovation
        or rather data-informed businesses. My passion is to explore data and
        understand the meaning of it.
      </p>
      <p>
        I found my passion during my studies and I have since then dived deep
        into the world of ML/AI, optimization of data-processing or the trenches
        of UNIX "everything as a file" to this day. Might put some time for vim
        configuration (way too much time at times) ;)
      </p>

      <h2>Projects that are half done, half finished, half fun</h2>

      <ul>
        <li>
          Playing around with service-workers to build a PWA for myself of a
          session and task management tool - <a
            href="https://zentered.netlify.app/"
            >https://zentered.netlify.app/</a
          >
        </li>
        <li>
          Learning Rust by building a Pomodoro app in the terminal - <a
            href="https://github.com/eleijonmarck/pomo"
            >https://github.com/eleijonmarck/pomo</a
          >
        </li>
        <li>
          Educating about compounding interest in saving money over time - <a
            href="https://monys.netlify.app/scenario"
            >https://monys.netlify.app/scenario</a
          >
        </li>
      </ul>
      <h2>
        <a href="https://www.tonyrobbins.com/mastery-university/">
Tony Robbins - Mastery University 2020
          </a>
      </h2>
      <p>
        Mastery University promotes life-long learning to help me create my
        extraordinary life. I have attened three life-changing live events
        mastering all aspects of your life - mind, body, emotions, physical
        health, finances, time and business.
      </p>
      <h2>
        <a href="https://www.linkedin.com/company/hack-for-sweden/">
        Winner - Hack for Sweden 2018
        </a>
      </h2>
      <figure class="image">
        <img src="/assets/winner-hack-for-sweden.jpg" alt="winner" />
        <figcaption>
          "They found a way to solve a big social problem and a big challenge
          and they did it by finding a way to quicker find the right job. They
          used innovative technology like machine learning and they did it with
          a unique combination of personality testing plus company culture."
        </figcaption>
      </figure>
      <p>
        Dreamteam from Stockholm AI: Eric Leijonmarck, Birger Moëll, Viktor
        Qvarfordt, Anton Osika
      </p>
      <p>
        <a
          href="http://www.mynewsdesk.com/se/hack-for-sweden/pressreleases/vinnarna-av-hack-for-sweden-2018-2478241"
          >http://www.mynewsdesk.com/se/hack-for-sweden/pressreleases/vinnarna-av-hack-for-sweden-2018-2478241</a
        >
      </p>
    </p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
